In [1]:
a=3
b=4
c=123+456*6
a,b,c

(3, 4, 2859)

In [2]:
a+b=c

SyntaxError: cannot assign to operator (<ipython-input-2-a54966cba9f5>, line 1)

In [3]:
123+456=a

SyntaxError: cannot assign to operator (<ipython-input-3-d32e4f933607>, line 1)

In [4]:
a=1
a=a+"안녕"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [5]:
a="안녕"+1

TypeError: can only concatenate str (not "int") to str

In [6]:
a="abc"
a=a+"안녕"
a

'abc안녕'

In [7]:
a=1
b=2
a,b

(1, 2)

In [8]:
a,b=b,a
a,b

(2, 1)

In [9]:
a, b, c, d, e, f = 1, 2, "안녕", "하셔요", 3, 4
                 # a  b  c       d        e  f
a,b,c,d,e,f

(1, 2, '안녕', '하셔요', 3, 4)

In [1]:
a=b=1  #a와 b를 동시에 같은 값으로 선언
a,b

(1, 1)

In [2]:
b=2  #선언된 b값을 변경함
a,b

(1, 2)

In [3]:
a=b=[1,2,3] #a와 b에 동시에 같은 리스트로 선언
a,b

([1, 2, 3], [1, 2, 3])

In [6]:
a[1]=4  #a[1]을 4로 변경

In [7]:
a,b   #a와 b가 같은 리스트를 공유하기 때문에 b[1]도 4로 변경됨

([1, 4, 3], [1, 4, 3])

In [9]:
a=[1,2,3,4,5]
b=a[:]  #a리스트를 전체 복사해서 b에 대입
c=a[1:3] #c = [2,3]  (a[3]포함안됨)
a[2]=5
a,b,c

([1, 2, 5, 4, 5], [1, 2, 3, 4, 5], [2, 3])

In [16]:
import sys
a=999
sys.getrefcount(999) #1
b=999
sys.getrefcount(999) #2
c=999
sys.getrefcount(999) #3

3

In [22]:
print("1:",1+2*3/4)
print("2:",2**3) 
print("3:",10/3)
print("4:",1e12*123456789012)
a=1+2j
print("5:",a+(123+12j))

1: 2.5
2: 8
3: 3.3333333333333335
4: 1.23456789012e+23
5: (124+14j)

In [23]:
print(5/2)
print(5//2)
print(5%2)

2.5
2
1

In [25]:
a = 1
a = a + 1
print("1:", a)

a = 1
a += 1
print("2:", a) #a=2

a *= 2
print("3:", a) #a*2=4
a *= 2
print("4:", a) #a*2=8

a = 1
a -= 1
print("5:", a) #a=0

a -= 1
print("6:", a) #a=-1

1: 2
2: 2
3: 4
4: 8
5: 0
6: -1

In [26]:
a=1
a++

SyntaxError: invalid syntax (<ipython-input-26-605f87293c9a>, line 2)

In [27]:
a--

SyntaxError: invalid syntax (<ipython-input-27-ea557c56caec>, line 1)

In [38]:
a=-1
print(a)  #a = -1
a =+ (-2) #a = (-2)
print(a)
a =+ (2)  #a = (2)
print(a)
a =- 3    #a = -S(3)
print(a)

-1
-2
2
-3

In [39]:
a="멍멍이"
b="고양이"
a+b

'멍멍이고양이'

In [40]:
a*3+b*2

'멍멍이멍멍이멍멍이고양이고양이'

In [41]:
"-"*20

'--------------------'

In [42]:
a=1  #int
b="강아지"+a+"마리" #str

TypeError: can only concatenate str (not "int") to str

In [43]:
b="강아지"+str(a)+"마리"
b

'강아지1마리'

In [44]:
ord("가")

44032

In [45]:
hex(ord("a"))   #16진수

'0x61'

In [46]:
for c in range (ord('a'), ord('z')+1):
	print(hex(c),"=",chr(c),", ",end="")  #16진수->문자변환

0x61 = a , 0x62 = b , 0x63 = c , 0x64 = d , 0x65 = e , 0x66 = f , 0x67 = g , 0x68 = h , 0x69 = i , 0x6a = j , 0x6b = k , 0x6c = l , 0x6d = m , 0x6e = n , 0x6f = o , 0x70 = p , 0x71 = q , 0x72 = r , 0x73 = s , 0x74 = t , 0x75 = u , 0x76 = v , 0x77 = w , 0x78 = x , 0x79 = y , 0x7a = z ,

In [47]:
a="123"; a+1 #문자형+정수형 처리 불가

TypeError: can only concatenate str (not "int") to str

In [48]:
a="123"; int(a)+1  #정수형 캐스팅 후 +1

124

In [49]:
a=12.3; int(a) # 실수형>정수형(버림)

12

In [50]:
a="12.3";int(a)  #실수의 문자형 바로 정수형으로 캐스트 불가

ValueError: invalid literal for int() with base 10: '12.3'

In [51]:
a="12.3";int(float(a))

12

In [52]:
a=1.1; 1+a+12

14.1

In [53]:
1+int(a)+12

14

In [54]:
print(int(3.14))  #3
print(round(3.14)) #3
print(round(3.14,1)) #3.1(소수둘째자리에서 반올림)
print(round(123456,-4)) #1000의 자리에서 반올림

3
3
3.1
120000

In [57]:
a=1234567
if(a%1000 != 0):  # 1000미만이 있으면
    a = int(a/1000) * 1000 + 1000 #1000미만을 버리고 1000자리에 +1
else:
    a = int(a/1000) * 1000 # 없으면 버린 상태로 저장 
a

1235000